<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-ews-wrapper"
  version="0.1.0">

  <name>EWS-Wrapper</name>
  <description>Expose EWS-Java-API (https://github.com/OfficeDev/ews-java-api)</description>
  <repo>https://github.com/sauvainr/cordova-ews-wrapper.git</repo>
  <license>MIT</license>
  <keywords>cordova, ews, office</keywords>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="www/ewsWrapper.js" name="ewsWrapper">
    <clobbers target="window.EWS" />
  </js-module>

  <platform name="android">
    <framework src="ews.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/EWSWrapper.java" target-dir="src/org/apache/cordova/plugin" />
    <source-file src="src/android/EWSProxy.java" target-dir="src/org/apache/cordova/plugin" />
    <source-file src="src/android/AppointmentWrapper.java" target-dir="src/org/apache/cordova/plugin" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="EWSWrapper">
        <param name="android-package" value="org.apache.cordova.plugin.EWSWrapper"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
  </platform>
</plugin>
